.nav-wrapper {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background: rgba(118, 170, 173, 0.1);
  border-bottom: 1.3px solid rgba(118, 170, 173, 0.23);
  transition: transform 0.3s;
  transform: translate(0, 0);
}

.nav {
  gap: 5px;

  a {
    padding: 6px 10px;
  }

  a:not([aria-current="page"]) {
    position: relative;
    color: var(--dark-gray) !important;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      border-radius: 4px;
      width: 100%;
      height: 110%;
      top: 0;
      left: 0;
      transition: all 100ms ease-in;
      background: transparent;
    }

    &:hover::before {
      background: rgba(186, 191, 191, 0.3);
      z-index: -1;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(186, 191, 191, 0.23);
      width: 100%;
      height: 100%;
    }

    &:hover {
      color: var(--light-gray) !important;
    }
  }
}
