@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #6b9c9d;
  --secondary-color: #6fc9cec8;
  --quaternary-color: #50888a;
  --light-gray: #eeeeee;
  --dark-gray: #c6c3c3;
  --main-dark-color: #222831;
  --secondary-dark-color: #2f3641;
  --break-box-shadow-sm: 0 0 3px var(--quaternary-color);
  --break-box-shadow-md: 0 0 6px var(--quaternary-color);
  --break-box-shadow-lg: 0 0 11px var(--quaternary-color);
  --dark-box-shadow-sm: 0 0 3px #0000003d;
  --dark-box-shadow-md: 0 0 6px #0000003d;
  --dark-box-shadow-lg: 0 0 11px #0000003d;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-dark-color);
  color: var(--light-gray);
}

/* backgrounds */
.bg-custom-primary {
  background-color: var(--primary-color) !important;
}

.bg-custom-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-custom-primary-dark {
  background-color: var(--main-dark-color) !important;
}

.bg-custom-secondary-dark {
  background-color: var(--secondary-dark-color) !important;
}
.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}
/* backgrounds */

/* Buttons */
button {
  background-color: transparent;
}

.btn.btn-custom-primary {
  background-color: var(--secondary-color);
  color: var(--light-gray);
  border: none;
  border-radius: 5px;
  padding: 7px 20px;
  outline: 1.7px solid transparent;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--primary-color);
    outline-color: var(--light-gray);
  }
}

/* Buttons */

/* inputs */
input:not(.is-invalid, .is-valid):focus {
  box-shadow: 0 0 0 3px var(--primary-color) !important;
}
/* inputs */

/* shadows */
.custom-primary-shadow-sm {
  box-shadow: var(--break-box-shadow-sm);
}
.custom-primary-shadow-md {
  box-shadow: var(--break-box-shadow-md);
}

.custom-primary-shadow-lg {
  box-shadow: var(--break-box-shadow-lg);
}

/* shadows */

.min-h-svh {
  min-height: 100svh;
}

.h-svh {
  height: 100svh;
}

.p-cus-2 {
  padding: 0.4rem;
}

.bg-cus-primary {
  background-color: var(--primary-color);
  color: var(--light-gray);
}

.pointer {
  cursor: pointer;
}

.navbar-nav .nav-link.active[aria-current="page"] {
  color: var(--light-gray) !important;
  background-color: var(--secondary-color);
  border-radius: 3px;

  &:hover {
    background-color: var(--primary-color);
  }
}

#my-header {
  transition: transform 0.4s;
  transform: translate(0, 0);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;

  &:is(.bg-not-transparent) {
    animation: fade-in-and-transform 0.5s ease 1;

    nav {
      background: #6b9b9d8a;
    }
  }
}

#my-header ~ .outlet-wrapper {
  margin-top: 108px;
}

.indicator-with-absolute-counter {
  border-radius: 50%;
  color: var(--primary-color);
  font-weight: 500;
  background-color: var(--light-gray);
  padding: 6px;
  display: grid;
  place-content: center;
  box-shadow: var(--dark-box-shadow-md);

  span {
    border-radius: inherit;
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    line-height: 1.1;
    min-width: 20px;
    font-weight: 500;
    transform: translate(40%, -25%);
    font-size: 12px;
    display: grid;
    place-content: center;
    cursor: pointer;
    border: 1.5px solid #fff;
  }

  + span {
    font-size: 13px;
    padding-top: 5px;
  }
}

.wish-list-quantity span {
  color: #fff;
  background-color: #dc3545;
  border: 1.5px solid #fff;
}

.cart-count span {
  color: var(--light-gray);
  background-color: var(--primary-color);
  border: 2px solid var(--light-gray);
}

/* Animation-classes */
.fade-in-out-anim {
  animation: fade-in-out 0.7s infinite alternate-reverse linear;
}

.pump_animate {
  animation: pump 500ms ease-out;
}
/* Animation-classes */

@keyframes pump {
  0% {
    transform: scale(0.7) rotate(30deg);
  }
  25% {
    transform: scale(1) rotate(60deg);
  }
  50% {
    transform: scale(1.3) rotate(90deg);
  }
  75% {
    transform: scale(1.5) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(210deg);
  }
}

@keyframes fade-in-out {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-and-transform {
  from {
    opacity: 0.5;
    visibility: hidden;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
