.cartCount {
  border-radius: 50%;
  color: var(--primary-color);
  font-weight: 500;
  background-color: var(--light-gray);
  padding: 5px;
  box-shadow: var(--dark-box-shadow-md);

  span {
    border-radius: inherit;
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    line-height: 1.1;
    min-width: 20px;
    color: var(--light-gray);
    font-weight: 500;
    background-color: var(--primary-color);
    transform: translate(40%, -25%);
    font-size: 12px;
    display: grid;
    place-content: center;
    cursor: pointer;
    border: 2px solid var(--light-gray);
  }
}

.pump_animate {
  animation: pump 500ms ease-out;
}

@keyframes pump {
  0% {
    transform: scale(0.7) rotate(30deg);
  }
  25% {
    transform: scale(1) rotate(60deg);
  }
  50% {
    transform: scale(1.3) rotate(90deg);
  }
  75% {
    transform: scale(1.5) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(210deg);
  }
}
